* {
    font:"Fontin Sans"  !important;
    font-family:"Fontin Sans", sans-serif !important ;
    font-family:"Fontin", serif  !important;
    font-family:"Delicious", monospace  !important;
}


body {
    font:"Fontin Sans"  ;
    font-family:"Fontin Sans", sans-serif  ;
    font-family:"Fontin", serif  ;
    font-family:"Delicious", monospace  ;
    font-size:11px;

}

pre
{
   font-family:"Delicious", monospace  ;
   font-size:9px;
}

