* {
	background-color: #222 !important;
	background-image: none !important;
	color: #ccc !important;
	border-color: #1E2320 !important;
	}
a:link, a:active, a:visited {
    color: #99e438 !important;}

a:hover {
    color: lightgrey !important;}
