* {
    font:"Fontin Sans" !important ;
    font-family:"Fontin Sans", sans-serif !important ;
    font-family:"Fontin Sans", serif !important ;
    font-family:"Fontin Sans", monospace !important ;
    font-size:13px;
 
}
 
pre
{
   font-family:"Delicious", monospace !important ;
   font-size:13px;
}
